.advantages {
	position: relative;

	width: auto;
	margin: 0 auto;

	background-color: @bg-darkgrey;

	&::after {
		content: '';

		position: absolute;
		bottom: -34px;
		left: 0;
		z-index: 1;

		width: 100%;
		height: 34px;

		background: linear-gradient(to bottom left, @bg-darkgrey 49%, transparent 51%) left / 50.5% 100% no-repeat, linear-gradient(to bottom right, @bg-darkgrey 49%, transparent 51%) right / 50.5% 100% no-repeat;
		;
	}
}

.advantages__list {
	width: 100%;
	.list-reset;
	color: #f7f4f1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.advantages__item {
	display: none;
	padding: 155px 44px 0px;
}

.advantages__item--fast {
	background-image: url(../img/fast-icon.svg);
	background-position: center 28px;
	background-repeat: no-repeat;
}

.advantages__item--cool {
	background-image: url(../img/cool-icon.svg);
	background-position: center 28px;
	background-repeat: no-repeat;
}

.advantages__item--price {
	background-image: url(../img/price-icon.svg);
	background-position: center 28px;
	background-repeat: no-repeat;
}

.advantages__title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;

	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.advantages__description {
	margin: 0;
	margin-bottom: 28px;
	padding: 0;

	text-align: center;
}

.advantages__toggle {
	border: 2px solid rgba(255, 255, 255, 0.2);
}

.advantages__toggle.advantages__toggle--active {
	background-color: #ffffff;
}

@media (min-width: @tablet-width) {
	.advantages {
		&::after {
			bottom: -42px;

			height: 42px;
		}
	}

	.advantages__wrapper {
		width: 84%;
		max-width: 960px;
		margin: 0 auto;
	}

	.advantages__list {
		flex-direction: column;
	}

	.advantages__item {
		position: relative;

		padding: 46px 36px 40px 160px;

		&::after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 6%;

			width: 89%;
			height: 1px;

			background-color: #4a4a4a;
			background-position: center 0;
		}

		&:last-child::after {
			content: none;
		}
	}

	.advantages__item.slider__item {
		display: block;
	}

	.advantages__item--fast {
		background-position: 28px 50px;
	}

	.advantages__item--cool {
		background-position: 28px 50px;
	}

	.advantages__item--price {
		background-position: 28px 50px;
	}

	.advantages__title {
		text-align: left;
	}

	.advantages__description {
		text-align: left;
		margin-bottom: 0;
	}
	
	.advantages__toggles.slider__toggles {
		display: none;
	}
}

@media (min-width: @desktop-width) {
	.advantages {

		&::after {
			bottom: -65px;

			height: 65px;
		}
	}

	.advantages__wrapper {
		width: 960px;
		margin: 0 auto;
		margin-top: 80px;
		padding-bottom: 40px;
	}

	.advantages__list {
		
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-direction: row;
	}

	.advantages__item {
		width: 234px;
		padding: 130px 43px 0 43px;

		&::after {
			right: 0;
			left: 0;

			width: 1px;
			height: 99%;
		}

		&:first-child::after {
			content: none;
		}

		&:last-child::after {
			content: '';
		}
	}

	.advantages__item--fast {
		background-position: center 0;
	}

	.advantages__item--cool {
		background-position: center 0;
	}

	.advantages__item--price {
		background-position: center 0;
	}

	.advantages__title {
		text-align: center;
	}

	.advantages__description {
		text-align: center;
	}
}
