.button {
	.link-reset;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	
	background: none;
	border: none;
}

.button--submit {
	text-align: center;
	color: #ffffff;
	
	background-color: #826550;
}