.contacts-form {
	width: 100%;
	margin: 0;
	padding: 0;

	border: none;
}

.contacts-form__list {
	.list-reset;
}

.contacts-form__item {
	width: 100%;
	margin: 0;
	padding: 0;
}

.contacts-form__input {
	width: 100%;
	margin: 0;
	padding: 9px 15px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 400;


	border: 1px solid #e5ddd5;
	box-sizing: border-box;

	&::placeholder {
		color: #000;
	}
}

.contacts-form__item--1,
.contacts-form__item--2,
.contacts-form__item--4 {
	margin-bottom: 6px;
}

.contacts-form__item--3,
.contacts-form__item--5 {
	margin-bottom: 32px;
}

.contacts-form__item--6 {
	margin-bottom: 0;
}

@media (min-width: @tablet-width) {
	.contacts-form__list {
		display: flex;
		flex-wrap: wrap;
	}

	.contacts-form__item--1,
	.contacts-form__item--2,
	.contacts-form__item--3 {
		width: 214px;
	}

	.contacts-form__item--4,
	.contacts-form__item--5,
	.contacts-form__item--6 {
		width: 100%;
	}
}

@media (min-width: @desktop-width) {}
