.contacts {
	width: 88%;
	margin: 0 auto;
	padding: 0 20px;
}

.contacts__title {
	display: block;
	
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.contacts__text {
	margin: 0;
	margin-top: 11px;
	padding: 0;
	
	font-size: 18px;
	text-align: center;
}

.contacts__phone {
	.link-reset;
	
	display: block;
	width: 100%;
	padding: 12px 0 10px 0;
	margin-top: 17px;
	margin-bottom: 26px;
	
	font-size: 18px;
	font-weight: 700;
	
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.contacts__phone-mobile {
	display: none;
}

@media (min-width: @tablet-width) {
	.contacts__title {
		text-transform: uppercase;
	}
}