.page-footer {
	width: 320px;
	margin: 0 auto;
	
	background-color: @bg-darkgrey;
}

.page-footer__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: @tablet-width) {
	.page-footer {
		width: 768px;
	}
	
	.page-footer__wrapper {
		flex-direction: row;
	}
	
	.page-footer__copyright {
		order: 2;
	}
	
	.page-footer__social {
		width: 100%;
	}
}

@media (min-width: @desktop-width) {
	.page-footer {
		width: 1200px;
	}
	
	.page-footer__wrapper {
		flex-direction: row;
	}
}