.sign-up {
	position: relative;
	
	width: auto;
	margin: 0 auto;
	padding-top: 35px;
	padding-bottom: 40px;
	
	background-color: @bg-light;
	
	&::after {
		content: '';

		position: absolute;
		bottom: -34px;
		left: 0;
		z-index: 1;

		width: 100%;
		height: 34px;

		background: linear-gradient(to bottom left, @bg-light 50%, transparent 50%) left / 50.5% 100% no-repeat, linear-gradient(to bottom right, @bg-light 50%, transparent 50%) right / 50.5% 100% no-repeat;
		;
	}
}

.sign-up__form {
	width: 100%;
}

.sign-up__title {
	.title-style;
	margin-bottom: 35px;
	
	text-align: center;
}

.sign-up__to-main {
	display: none;
}

.sign-up__form {
	width: 88%;
	margin: 0 auto;
}

.sign-up__button {
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	padding: 13px 0;
}

@media (min-width: @tablet-width) {
	.sign-up {
		width: 768px;
	}
}

@media (min-width: @desktop-width) {
	.sign-up {
		width: 1200px;
	}
}