.slider__toggles {
	width: 76px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 13px;
}

.slider__toggle {
	width: 7px;
	height: 7px;
	margin: 0;
	padding: 0;
	
	font-size: 0px;
	
	background: none;
	transform: rotate(45deg);
}

.slider__item {
	display: none;
}

.slider__item--show {
	display: block;
}

@media (min-width: @tablet-width) {
	.slider__toggle {
		display: none;
	}
}